/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define GAME 1
#define NUM 2
#define SYM1 3
#define SYM2 4
#define NAV 5
#define FUN 6
#define CMD 7

# define ______ &trans

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NUM NAV>;
            then-layer = <FUN>;
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_semi {
            timeout-ms = <30>;
            key-positions = <26 27>;
            bindings = <&kp SEMI>;
        };
        combo_agrv {
            timeout-ms = <30>;
            key-positions = <10 26>;
            bindings = <&engr A>;
        };
        combo_egrv {
            timeout-ms = <30>;
            key-positions = <17 23>;
            bindings = <&engr E>;
        };
        combo_igrv {
            timeout-ms = <30>;
            key-positions = <18 23>;
            bindings = <&engr I>;
        };
        combo_ogrv {
            timeout-ms = <30>;
            key-positions = <19 23>;
            bindings = <&engr O>;
        };
        combo_ugrv {
            timeout-ms = <30>;
            key-positions = <7 23>;
            bindings = <&engr U>;
        };
    };
    macros {
        und: undead {
            compatible = "zmk,behavior-macro";
            #binding-cells = <1>;
            bindings
                = <&macro_tap &kp>
                , <&macro_tap &kp SPACE>
                ;
        };
        engr: engrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <1>;
            bindings
                = <&macro_tap &kp GRAVE>
                , <&macro_tap &kp>
                ;
        };
    };
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
        super_bspc: super_backspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LA(BACKSPACE)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        smart_shft: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&caps_word>;
            mods = <(MOD_LSFT)>;
        };
        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT)>;
        };
        dot_colon: dot_colon {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp COLON>, <&kp DOT>;
        };
        dot_excl: dot_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&dot_colon>, <&kp EXCL>;
            mods = <(MOD_LSFT)>;
        };
        qmrk_excl: qmrk_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT)>;
        };
        slh_morph: slh_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;
            mods = <(MOD_LSFT)>;
        };
        amps_morph: amps_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp PIPE>;
            mods = <(MOD_LSFT)>;
        };
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35 >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
        qt: quotes {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&und SQT>, <&und DQT>;
            };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
//    ┌─────────────┬─────────────┬─────────────┬─────────────┬─────────────┐   ┌─────────────┬─────────────┬─────────────┬─────────────┬─────────────┐
//    │      Q      │      W      │      F      │      P      │      B      │   │      J      │      L      │      U      │      Y      │     &qt     │
//    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//    │ &hml lgui A │ &hml lalt R │ &hml lctl S │ &hml lsft T │      G      │   │      M      │ &hmr rsft N │ &hmr lctl E │ &hmr lalt I │ &hmr lgui O │
//    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//    │      Z      │      X      │      C      │      D      │      V      │   │      K      │      H      │ &comma_semi │ &dot_colon  │      /      │
//    └─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┘
//                                │     esc     │ lt NAV spc  │ lt SYM1 tab │   │ lt SYM2 ent │ lt NUM bspc │     del     │
//                                └─────────────┴─────────────┴─────────────┘   └─────────────┴─────────────┴─────────────┘
  &kp Q         &kp W         &kp F          &kp P           &kp B              &kp J          &kp L          &kp U          &kp Y         &qt
  &hml LGUI A   &hml LALT R   &hml LCTRL S   &hml LSHFT T    &kp G              &kp M          &hmr RSHFT N   &hmr LCTRL E   &hmr LALT I   &hmr LGUI O
  &kp Z         &kp X         &kp C          &kp D           &kp V              &kp K          &kp H          &comma_semi    &dot_colon    &kp SLASH
                              &kp ESC        &lt NAV SPACE   &lt SYM1 TAB       &lt SYM2 RET   &lt NUM BSPC   &kp DEL
                        >;
                };
                game_layer {
                        bindings = <
//    ┌──────┬───┬─────┬────────┬─────┐   ┌────────┬────────┬────────┬────────┬────────┐
//    │ tab  │ Q │  W  │   E    │  R  │   │ ______ │ ______ │ ______ │ ______ │ ______ │
//    ├──────┼───┼─────┼────────┼─────┤   ├────────┼────────┼────────┼────────┼────────┤
//    │ lsft │ A │  S  │   D    │  F  │   │ ______ │ ______ │ ______ │ ______ │ ______ │
//    ├──────┼───┼─────┼────────┼─────┤   ├────────┼────────┼────────┼────────┼────────┤
//    │ lctl │ Z │  X  │   C    │  V  │   │ ______ │ ______ │ ______ │ ______ │ ______ │
//    └──────┴───┼─────┼────────┼─────┤   ├────────┼────────┼────────┼────────┴────────┘
//               │ esc │ ______ │ spc │   │ ______ │ ______ │ ______ │
//               └─────┴────────┴─────┘   └────────┴────────┴────────┘
  &kp TAB     &kp Q   &kp W     &kp E    &kp R           ______   ______   ______   ______   ______
  &kp LSHFT   &kp A   &kp S     &kp D    &kp F           ______   ______   ______   ______   ______
  &kp LCTRL   &kp Z   &kp X     &kp C    &kp V           ______   ______   ______   ______   ______
                      &kp ESC   ______   &kp SPACE       ______   ______   ______
                        >;
                };
                num_layer {
                        bindings = <
//    ┌─────────────┬───┬────────┬────────┬────────┐   ┌───────────┬────────┬────────┬───┬───┐
//    │      ~      │ @ │   {    │   }    │   %    │   │     *     │   7    │   8    │ 9 │ - │
//    ├─────────────┼───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┼───┤
//    │ &hml lgui 1 │ 2 │   3    │   4    │   5    │   │     6     │   7    │   8    │ 9 │ + │
//    ├─────────────┼───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┼───┤
//    │      /      │ * │   -    │   +    │   .    │   │ slh_morph │   1    │   2    │ 3 │ = │
//    └─────────────┴───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┴───┘
//                      │ ______ │ ______ │ ______ │   │     0     │ ______ │ ______ │
//                      └────────┴────────┴────────┘   └───────────┴────────┴────────┘
  &kp TILDE      &kp AT     &kp LBRC    &kp RBRC   &kp PRCNT       &kp STAR     &kp N7   &kp N8   &kp N9   &kp MINUS
  &hml LGUI N1   &kp N2     &kp N3      &kp N4     &kp N5          &kp N6       &kp N7   &kp N8   &kp N9   &kp PLUS
  &kp SLASH      &kp STAR   &kp MINUS   &kp PLUS   &kp DOT         &slh_morph   &kp N1   &kp N2   &kp N3   &kp EQUAL
                            ______      ______     ______          &kp N0       ______   ______
                        >;
                };

                sym1_layer {
                        bindings = <
//    ┌─────────────┬───┬────────┬────────┬────────┐   ┌───────────┬────────┬────────┬───┬───┐
//    │      ~      │ @ │   {    │   }    │   %    │   │     *     │   7    │   8    │ 9 │ - │
//    ├─────────────┼───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┼───┤
//    │ &hml lgui 1 │ 2 │   3    │   4    │   5    │   │     6     │   7    │   8    │ 9 │ + │
//    ├─────────────┼───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┼───┤
//    │      /      │ * │   -    │   +    │   .    │   │ slh_morph │   1    │   2    │ 3 │ = │
//    └─────────────┴───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┴───┘
//                      │ ______ │ ______ │ ______ │   │     0     │ ______ │ ______ │
//                      └────────┴────────┴────────┘   └───────────┴────────┴────────┘
  &kp TILDE      &kp AT     &kp LBRC    &kp RBRC   &kp PRCNT       &kp STAR     &kp N7   &kp N8   &kp N9   &kp MINUS
  &hml LGUI N1   &kp N2     &kp N3      &kp N4     &kp N5          &kp N6       &kp N7   &kp N8   &kp N9   &kp PLUS
  &kp SLASH      &kp STAR   &kp MINUS   &kp PLUS   &kp DOT         &slh_morph   &kp N1   &kp N2   &kp N3   &kp EQUAL
                            ______      ______     ______          &kp N0       ______   ______
                        >;
                };

                sym2_layer {
                        bindings = <
//    ┌─────────────┬───┬────────┬────────┬────────┐   ┌───────────┬────────┬────────┬───┬───┐
//    │      ~      │ @ │   {    │   }    │   %    │   │     *     │   7    │   8    │ 9 │ - │
//    ├─────────────┼───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┼───┤
//    │ &hml lgui 1 │ 2 │   3    │   4    │   5    │   │     6     │   7    │   8    │ 9 │ + │
//    ├─────────────┼───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┼───┤
//    │      /      │ * │   -    │   +    │   .    │   │ slh_morph │   1    │   2    │ 3 │ = │
//    └─────────────┴───┼────────┼────────┼────────┤   ├───────────┼────────┼────────┼───┴───┘
//                      │ ______ │ ______ │ ______ │   │     0     │ ______ │ ______ │
//                      └────────┴────────┴────────┘   └───────────┴────────┴────────┘
  &kp TILDE      &kp AT     &kp LBRC    &kp RBRC   &kp PRCNT       &kp STAR     &kp N7   &kp N8   &kp N9   &kp MINUS
  &hml LGUI N1   &kp N2     &kp N3      &kp N4     &kp N5          &kp N6       &kp N7   &kp N8   &kp N9   &kp PLUS
  &kp SLASH      &kp STAR   &kp MINUS   &kp PLUS   &kp DOT         &slh_morph   &kp N1   &kp N2   &kp N3   &kp EQUAL
                            ______      ______     ______          &kp N0       ______   ______
                        >;
                };

                nav_layer {
                        bindings = <
//    ┌──────────┬──────────┬──────────┬──────────┬────────┐   ┌────────┬────────┬────────┬────────┬────────┐
//    │  ______  │  ______  │  ______  │  ______  │ ______ │   │  del   │  home  │  end   │  tab   │  bspc  │
//    ├──────────┼──────────┼──────────┼──────────┼────────┤   ├────────┼────────┼────────┼────────┼────────┤
//    │ &sk lsft │ &sk lctl │ &sk lalt │ &sk lgui │ ______ │   │  left  │  down  │   up   │  rght  │ gresc  │
//    ├──────────┼──────────┼──────────┼──────────┼────────┤   ├────────┼────────┼────────┼────────┼────────┤
//    │  ______  │  ______  │  ______  │  ______  │ ______ │   │ ______ │  ent   │ ______ │ ______ │ ______ │
//    └──────────┴──────────┼──────────┼──────────┼────────┤   ├────────┼────────┼────────┼────────┴────────┘
//                          │  ______  │  ______  │ ______ │   │ ______ │ ______ │ ______ │
//                          └──────────┴──────────┴────────┘   └────────┴────────┴────────┘
  ______      ______      ______     ______     ______       &kp DEL    &kp HOME   &kp END   &kp TAB     &kp BSPC
  &sk LSHFT   &sk LCTRL   &sk LALT   &sk LGUI   ______       &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT   &gresc
  ______      ______      ______     ______     ______       ______     &kp RET    ______    ______      ______
                          ______     ______     ______       ______     ______     ______
                        >;
                };

                fun_layer {
                        bindings = <
//    ┌──────────┬──────────┬──────────┬──────────┬──────────┐   ┌────────┬────────┬────────┬────┬─────┐
//    │ tog GAME │   mute   │   vold   │   volu   │ out_ usb │   │ ______ │   f7   │   f8   │ f9 │ f12 │
//    ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├────────┼────────┼────────┼────┼─────┤
//    │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │ bt_sel 4 │   │ ______ │   f4   │   f5   │ f6 │ f11 │
//    ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├────────┼────────┼────────┼────┼─────┤
//    │  bt_clr  │   prev   │   play   │   next   │ out_ ble │   │ ______ │   f1   │   f2   │ f3 │ f10 │
//    └──────────┴──────────┼──────────┼──────────┼──────────┤   ├────────┼────────┼────────┼────┴─────┘
//                          │  ______  │  ______  │  ______  │   │ ______ │ ______ │ ______ │
//                          └──────────┴──────────┴──────────┘   └────────┴────────┴────────┘
  &tog GAME      &kp K_MUTE     &kp C_VOL_DN   &kp C_VOL_UP   &out OUT_USB       ______   &kp F7   &kp F8   &kp F9   &kp F12
  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4       ______   &kp F4   &kp F5   &kp F6   &kp F11
  &bt BT_CLR     &kp C_PREV     &kp C_PP       &kp C_NEXT     &out OUT_BLE       ______   &kp F1   &kp F2   &kp F3   &kp F10
                                ______         ______         ______             ______   ______   ______
                        >;
                };

                cmd_layer {
                        bindings = <
//    ┌─────────┬─────────┬─────────┬─────────┬─────────┐   ┌────────┬────────┬────────┬────────┬────────┐
//    │ lgui(Q) │ lgui(W) │    F    │ lgui(P) │    B    │   │ ______ │ ______ │ ______ │ ______ │ ______ │
//    ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├────────┼────────┼────────┼────────┼────────┤
//    │  lsft   │  lctl   │  lalt   │  lgui   │ lgui(G) │   │ ______ │ ______ │ ______ │ ______ │ ______ │
//    ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├────────┼────────┼────────┼────────┼────────┤
//    │ lgui(Z) │ lgui(X) │ lgui(C) │    D    │ lgui(V) │   │ ______ │ ______ │ ______ │ ______ │ ______ │
//    └─────────┴─────────┼─────────┼─────────┼─────────┤   ├────────┼────────┼────────┼────────┴────────┘
//                        │ ______  │ ______  │ ______  │   │ ______ │ ______ │ ______ │
//                        └─────────┴─────────┴─────────┘   └────────┴────────┴────────┘
  &kp LG(Q)   &kp LG(W)   &kp F       &kp LG(P)   &kp B           ______   ______   ______   ______   ______
  &kp LSHFT   &kp LCTRL   &kp LALT    &kp LGUI    &kp LG(G)       ______   ______   ______   ______   ______
  &kp LG(Z)   &kp LG(X)   &kp LG(C)   &kp D       &kp LG(V)       ______   ______   ______   ______   ______
                          ______      ______      ______          ______   ______   ______
                        >;
                };
        };
};
